{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Playlists</title>
</head>
<body class="flex items-center justify-center h-screen bg-gradient-to-r from-slate-200 to-violet-400 ...">
   


<!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
              <tr>
                <th scope="col" class="px-6 py-4">#</th>
                <th scope="col" class="px-6 py-4">Playlist</th>
                <th scope="col" class="px-6 py-4">No. of Videos</th>
                <th scope="col" class="px-6 py-4">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr
                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">1</td>
                <td class="whitespace-nowrap px-6 py-4">HTML</td>
                <td class="whitespace-nowrap px-6 py-4">1</td>
                <td class="whitespace-nowrap px-6 py-4"><a href="https://www.youtube.com/watch?v=qLZXVp5-nMU&t=17s" > <p class="text-blue"> Click</p></a></td>
              </tr>
              <tr
                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">2</td>
                <td class="whitespace-nowrap px-6 py-4">CSS</td>
                <td class="whitespace-nowrap px-6 py-4">1</td>
                <td class="whitespace-nowrap px-6 py-4"><a href="https://www.youtube.com/watch?v=w2z7BMr4MY0"> Click </a></td>
              </tr>
              <tr
                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">3</td>
                <td class="whitespace-nowrap px-6 py-4">Bootstrap CSS</td>
                <td class="whitespace-nowrap px-6 py-4">1(6hr)</td>
                <td class="whitespace-nowrap px-6 py-4"><a href="https://www.youtube.com/watch?v=QE5oQh63gGE"> Click </a></td>
              </tr>
              <tr
                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">4</td>
                <td class="whitespace-nowrap px-6 py-4">Tailwind CSS(CSS Framework)</td>
                <td class="whitespace-nowrap px-6 py-4">16</td>
                <td class="whitespace-nowrap px-6 py-4"><a href="https://www.youtube.com/watch?v=L4_jarMnB0c&list=PLu0W_9lII9ahwFDuExCpPFHAK829Wto2O"> Click </a></td>
              </tr>
              <tr
                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">5</td>
                <td class="whitespace-nowrap px-6 py-4">JavaScript</td>
                <td class="whitespace-nowrap px-6 py-4">51</td>
                <td class="whitespace-nowrap px-6 py-4"><a href="https://www.youtube.com/watch?v=Hr5iLG7sUa0&list=PLu71SKxNbfoBuX3f4EOACle2y-tRC5Q37"> Click </a></td>
              </tr>
              <tr
                class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                <td class="whitespace-nowrap px-6 py-4 font-medium">6</td>
                <td class="whitespace-nowrap px-6 py-4">Reactjs</td>
                <td class="whitespace-nowrap px-6 py-4">--</td>
                <td class="whitespace-nowrap px-6 py-4"><a href=""> -- </a></td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
